body {
  background-color: #10100f;
  color: honeydew;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
}

.Bottom_Crap{
  background-color: #332;
  font-size: 10px;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.what_are_they{
  height: 65%;
  width: 50%;
  background-color: #000;
  color: #ffe;
  position: absolute;
  right: 10%;
  top: 10%;
  word-wrap: break-word;
  border-radius: 25px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.contactinfo {
  align-self: auto;
  float: right;
  Position: Relative;
  left: 30px;
  background-color: honeydew;
  color: #000000;
  width: 87%;
  margin: 30px;
  padding: 30px;
  word-wrap: normal;
}

.henrietta {

  position: absolute;
  height: 80%;
  width: 100%;
  background-image: url("..//images/Henrietta.jpg");
  background-repeat: no-repeat;
  left: 2%;
  
}


.top {
  align-self: auto;
  float: right;
  Position: Relative;
  left: 30px;
  background-color: honeydew;
  color: #000000;
  width: 87%;
  margin: 30px;
  padding: 30px;
  word-wrap: normal;
}

.main {
  align-self: auto;
  float: right;
  Position: Relative;
  left: 30px;
  background-color: #666688;
  color: #000000;
  width: 87%;
  margin: 30px;
  padding: 30px;
  word-wrap: normal;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
